# Cache
__pycache__
.ipynb_checkpoints/
wandb/
*.swp
.mypy_cache
artifacts/

# Legacy code
legacy/

# Data
data/raw/*
data/processed/*

# Local output buffer
output/

# Submission
submission.csv
submissions/

# Local misc
pred_analysis_local.ipynb
